.message {
    padding: 0.625rem 0.875rem;
    border-radius: 0.625rem;
    font-size: 0.875rem;
    text-align: center;
}

.message-default {
    background-color: #f0f0f0;
    color: #333;
}

.message-error {
    background-color: #ffe0e0;
    color: #c0392b;
}

.message-success {
    background-color: #e0ffe0;
    color: #27ae60;
}

.message-warning {
    background-color: #fff4e0;
    color: #e67e22;
}
