/* ajouter une règle @media: par défaut, on ppeut dire que la navbar est masqué(display: none), elle devient visible uniqument sur le petie écran*/

/* Par défaut, on cache la barre (pour les ordinateurs/tablettes) */
.navbar-container {
  display: none; 
  justify-content: space-between;
  align-items: center;
  background-color: #3b4553;
  padding: 0 20px;
  height: 60px;
  position: fixed; /* fixe en bas sur mobile */
  bottom: 0;     
  left: 0;
  right: 0;
  z-index: 1000;
}

/* On l'affiche uniquement pour les écrans de moins de 768px (Mobile) */
@media (max-width: 768px) {
  .navbar-container {
    display: flex;
  }
}

.nav-links-center {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  justify-content: space-around; /* Mieux réparti sur petit écran */
}


.nav-right-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}