.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fond sombre transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.option-group {
  margin: 20px 0;
  text-align: left;
}

.options {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.options button {
  padding: 8px 15px;
  border: 1px solid #ddd;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}

.options button.active {
  background: #3b4553;
  color: white;
  border-color: #3b4553;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}


